/* MI Base
-----------------------------------------------------------------------------*/


body,
html {
    font-size: $bfs;
    hyphens: auto;
}




/* Headlines & Texts
-----------------------------------------------------------------------------*/

/*doc
---
title: Typografie (MI Base)
name: typography
category: Base CSS
---

Dies sind die Größen aller Überschriften für MI Base.

```html_example_table
<h1>h1 25px</h1>

<h2>h2 20px</h2>
```

*/
h1{
    font-weight: bold;
    font-size: rem-calc(25px);
}

h2{
    margin-top: $bfs * 2;
    font-size: rem-calc(20px);
}

h1, h2, h3, h4{
    line-height: 110%;
}

/*doc
---
title: Typografie Mobil (MI Base)
name: typography_mobile
category: Base CSS
---

Dies sind die Größen aller Überschriften für MI Base auf mobilen Geräten.

```html_example_table
<h1>h1 40px</h1>

<h2>h2 31.5px</h2>
```

*/
@media screen and #{breakpoint(medium)} {
    p, li, td, th{
        font-size: $bfs * 1.25;
    }

    h1{
        font-size: rem-calc(40px);
    }

    h2{
        font-size: rem-calc(31.5px);
    }
}





/* Lists
-----------------------------------------------------------------------------*/

li{
    line-height: 140%;
    margin-bottom: $bfs /2;
}





/* Other Elements
-----------------------------------------------------------------------------*/

blockquote{
    border-left: solid $mi-border-small $mi-pink;
    padding: $bfs/2  $bfs;

    > p{
        margin-bottom: 0;
    }
}
